# mestbak-checker - Omgevingsvariabelen
# Kopieer dit bestand naar .env en vul de waarden in
# Commit NOOIT het .env bestand naar Git!

# TextMeBot
TEXTMEBOT_API_KEY=jouw_textmebot_api_key_hier

# Eigen nummer voor samenvattingsberichten
# E.164 formaat: +31XXXXXXXXX
SUMMARY_PHONE=<samenvattingsnummer>

# Database
DB_SERVER=<db-server>
DB_NAME=<db-naam>
DB_CLIENT_NO=3582
DB_DRIVER=ODBC Driver 17 for SQL Server

# Testmodus
# Zet op true om testmodus te activeren (geen echte DB query)
TEST_MODE=false
TEST_PHONE_NL=<testnummer-nl>
TEST_PHONE_BE=<testnummer-be>
TEST_PHONE_DE=<testnummer-de>
